.circle{
    width: 250px;
    height: 250px;    
    border-radius: 200px;
   background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.shadow{
    background-color: lightslategray;
    width: 250px;
    height: 250px;
    border-radius: 200px;

}

.circle:hover{
   /*  transform: translate(1rem)  */
   transform: scalex(0.8);
   
}



.square{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color: lightpink;
    display: grid;  
    
}

.square:hover{

    transform: rotate(45deg);
}

html{
    font-size: 62.5%;
}